*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    background: cornsilk;
    border-radius: 30%;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px auto 100px;
    height: 100vh;
 

}
header{
    background-color:aqua;
    grid-column-start: 1;
    grid-column-end: -1;
}
aside{
    
    grid-column-start: 1;
    padding: 120px;
    width: 80%;
   
}
main{
    grid-column-start: 2;
    grid-column-end: -1;
    width: 100%;
}
ul{
    list-style-type: none;

}
a{
    color: black;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*navbar*/
header{
    line-height: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}
nav ul li{
    display: inline;
    padding: 0 16px ;
}
nav ul li a{
    color:black ;
}
/*aside*/
aside{
    padding: 64px;
    display: flex;
   


}

.user{
text-align: center;
}
    
.user img{
width: 50%;
height: 50%;
border-radius: 70%;
justify-items: top;
}
.userButton{
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 50px;
}
/*main*/
.container{
    display: flex;
    flex-direction: column;
}
.shelf1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.pic{
width: 55%;
height: 55%;
}
.book2{
    padding: 1px;
    background-color:blanchedalmond;
    margin: 0 10px;
    justify-items: center; 
}


.imc{
    border-radius: 80%;
    width:100px ;
    height: 100px;
    justify-items: center;
}
